@using BusinessLogic.DTO;
@model NewsDTO

<div class="container">
    <form enctype="multipart/form-data" asp-controller="News" asp-action="Create">
        <p>Category</p><select id="category" onchange="getSubCategory()" asp-for="CategoryId"></select>
        <br />
        <p>SubCategory</p><select id="subCategory" asp-for="SubCategoryId"></select>
        <br />
        <p>Title</p><input asp-for="Title" type="text" />
        <br />
        <p>Content</p><textarea asp-for="Content" type="text"></textarea>
        <br />
        <p>Image</p><input name="file" type="file" accept="image/*" />
        <br />
        <input type="submit" value="Create">
    </form>

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:7255/api/Categories/GetAll',
                method: 'GET',
                dataType: 'json',
                success: function (categories) {
                    // Process the category data and populate the category list
                    var categoryList = $('#category');
                    $.each(categories, function (index, category) {
                        var categoryItem = $(`<option class="category-item" value="${category.id}" ${(index == 0 ? "selected = true" : "")}>${category.name}</option>`);
                        categoryList.append(categoryItem);
                    });
                },
                error: function (error) {
                    console.log('Error fetching categories: ' + error);
                }
            });

            $.ajax({
                url: 'https://localhost:7255/api/SubCategories/GetAll/1',
                method: 'GET',
                dataType: 'json',
                success: function (subCategories) {
                    // Process the category data and populate the subCategory list
                    var subCategoryList = $('#subCategory');
                    $.each(subCategories, function (index, subCategory) {
                        var categoryItem = $(`<option class="subCategory-item" value="${subCategory.id}" ${(index == 0 ? "selected = true" : "")}>${subCategory.name}</option>`);
                        subCategoryList.append(categoryItem);
                    });
                },
                error: function (error) {
                    console.log('Error fetching subcategories: ' + error);
                }
            });
        });

        function getSubCategory() {
            $.ajax({
                url: `https://localhost:7255/api/SubCategories/GetAll/${$('#category').val()}`,
                method: 'GET',
                dataType: 'json',
                success: function (subCategories) {
                    // Process the category data and populate the subCategory list
                    var subCategoryList = $('#subCategory');
                    subCategoryList.html("");
                    $.each(subCategories, function (index, subCategory) {
                        var categoryItem = $(`<option class="subCategory-item" value="${subCategory.id}" ${(index == 0 ? "selected = true" : "")}>${subCategory.name}</option>`);
                        subCategoryList.append(categoryItem);
                    });
                },
                error: function (error) {
                    console.log('Error fetching categories: ' + error);
                }
            });
        };
    </script>
}
