@{
    ViewData["Title"] = "News Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #title {
        text-transform: capitalize;
    }

    #image {
        width: 100%;
        height: auto;
    }

    .wraper {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .wraper-title {
        font-weight: 700;
    }

    p {
        margin: 0;
    }

    .news-details {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .like-btn {
        font-size: 24px;
    }

    .like-btn-color {
        color: #0d6efd;
    }

    .comments-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

        .comments-section button {
            margin-left: auto;
        }
</style>

<div class="container">
    <div class="news-details">
        <h1 id="title"></h1>
        <img id="image" src="" alt="News Image">
        <div class="wraper">
            <p class="wraper-title"> Posted Date: </p>
            <p id="postedDate"></p>
        </div>
        <div class="wraper">
            <p class="wraper-title"> Created By: </p>
            <p id="createdBy"></p>
        </div>
        <div id="content"></div>
        <div class="wraper">
            <i onclick="myFunction(this)" class="fa fa-thumbs-up like-btn"></i>
            <div id="like"></div>
        </div>
        <div class="comments-section">
            <textarea id="commentInput" placeholder="Enter your comment" rows="6"></textarea>
            <button class="btn btn-primary" type="submit" onclick="submitComment()">Submit</button>
            <div id="comments"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Function to fetch and display the details of a news article
        let params = (new URL(document.location)).searchParams;
        let articleId = params.get("id");
        
        function fetchNewsDetails() {
            // Make an AJAX GET request to fetch the article details
            $.ajax({
                url: `https://localhost:7255/api/News/GetById/${articleId}`,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    // Populate the HTML elements with the fetched data
                    var articleImage = `https://localhost:7256/${data.imgPath}`;
                    $("#title").text(data.title);
                    $("#image").attr("src", articleImage);
                    $("#postedDate").text(data.postedDate);
                    $("#content").html(data.content);
                    $("#createdBy").text( data.created);
                    if (data.numberOfLikes != null){
                        $("#like").text(data.numberOfLikes);
                    }
                    else{
                        $("#like").text("0");
                    }
                },
                error: function (error) {
                    console.error("Error fetching news article details:", error);
                }
            });
        }

        function fetchComments() {

            // Make an AJAX GET request to fetch the comments
            $.ajax({
                url: `https://localhost:7255/api/Comment/GetCmtByNewId?newId=${articleId}`,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    // Populate the HTML elements with the fetched comments
                    let commentsHtml = '';
                    data.forEach(comment => {
                        const createDate = new Date(comment.createDate).toLocaleString();
                        commentsHtml += `
                                                            <div class="comment-item">
                                                                <p><strong>${comment.name}</strong></p>
                                                                <p>${createDate}</p>
                                                                <p>${comment.content}</p>
                                                            </div>
                                                        `;
                    });
                    $("#comments").html(commentsHtml);
                },
                error: function (error) {
                    console.error("Error fetching comments:", error);
                }
            });
        }

        // Call the function to fetch and display news article details
        fetchNewsDetails();
        fetchComments();

        function myFunction(x) {
            if (x.classList.contains("like-btn-color")) {
                $("#like").text(parseInt($("#like").text()) - 1);
            }
            else {
                $("#like").text(parseInt($("#like").text()) + 1);
            };
            x.classList.toggle("like-btn-color");
        }

        function submitComment() {
            const commentInput = $("#commentInput").val();
      
            var accountValue = '@Context.Session.GetString("account")';
            console.log(accountValue);
            var createById = ""
            var createByName = ""

            if (!commentInput.trim()) {
                alert("Please enter a comment.");
                return;
            }
            if (accountValue == '') {
                alert("Please log in to submit a comment.");
                window.location.href = "https://localhost:7256/Auth/Login";
                return;
            }
            else{
                var decodedAccountValue = accountValue.replace(/&quot;/g, '"');
                var accountObject = JSON.parse(decodedAccountValue);

                createById = accountObject.Id;
                createByName =accountObject.Username ;
            }

            const commentData = {
                content: commentInput,
                newsId: parseInt(articleId),
                createdBy: createById,
            };
            console.log(commentData);

            // Make an AJAX POST request to submit the comment
            $.ajax({
                url: "https://localhost:7255/api/Comment/Create",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(commentData),
                success: function (data) {
                    // Comment submitted successfully, update the comments section
                    fetchComments();
                },
                error: function (error) {
                    console.error("Error submitting comment:", error);
                    alert("Failed to submit the comment. Please try again later.");
                }
            });
        }
    </script>
}
