@{
    ViewData["Title"] = "Index";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- News Articles Section -->
            <div class="news-section">
                <ul class="news-list">
                    <!-- Articles will be dynamically added here -->
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Sidebar Section (e.g., featured news, ads, etc.) -->
            <div class="sidebar">
                <ul class="news-list">
                    <!-- Articles will be dynamically added here -->
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            fetchNewsArticles();
            let params = (new URL(document.location)).searchParams;
            let categoryId = params.get("id");
            function fetchNewsArticles() {
                $(".news-list").html("");
                $.ajax({
                    url: "https://localhost:7255/api/News/GetListNews",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result, status, xhr) {
                        var newsList = $(".news-list");
                        result.forEach(function (article) {
                            console.log(article)
                            var articleItem = `
                                                        <li class="news-item">
                                                            <a href=\"News/Details/?id=${article.id}">
                                                                <div class="news-image">
                                                                    <img src="${article.imgPath}" alt="${article.title}" />
                                                                </div>
                                                                <div class="news-content">
                                                                    <h3 class="news-title">${article.title}</h3>
                                                                    <p class="news-excerpt">${article.content}</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    `;

                            newsList.append(articleItem);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching news articles:", error);
                    }
                });
            }

        });
    </script>
}