@{
    ViewData["Title"] = "Home Page";
}
<style>
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0px;
        align-items: flex-start;
    }

        .banner img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .row {
        margin-top: 24px;
    }

    .news-image img {
        width: 100px;
        height: 100px;
    }

    .category-list {
        display: flex;
        align-items: center;
        gap: 16px;

    }
    .navbar {
        position: sticky;
        background: white;
        top: 0;
        gap: 24px;
    }

    a {
        color: #000000;
        text-decoration: none;
        text-transform: capitalize;
    }

    .search-bar {
        display: flex;
        align-items: center;
        gap: 16px;
    }

        .search-bar input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .search-bar button {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .search-bar button:hover {
            background-color: #45a049;
        }
        .news-item a{
                display: flex;
                gap: 16px;
        }
</style>
<div class="container">
    <div class="banner">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX26402161.jpg" alt="Banner Image" />
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="category-list">
            <!-- Categories will be dynamically added here -->
        </div>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search news...">
            <button id="searchButton">Search</button>
        </div>
    </nav>
    <div class="row">
        <div>
            <!-- News Articles Section -->
            <div class="news-section">
                <ul class="news-list">
                    <!-- Articles will be dynamically added here -->
                </ul>
            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:7255/api/Categories/GetAll',
                method: 'GET',
                dataType: 'json',
                success: function (categories) {
                    // Process the category data and populate the category list
                    var categoryList = $('.category-list');
                    $.each(categories, function (index, category) {
                        var categoryItem = $('<a href=\"News/?categoryId=' + category.id + '" class="category-item">' + category.name + '</a>');
                        categoryList.append(categoryItem);
                    });
                },
                error: function (error) {
                    console.log('Error fetching categories: ' + error);
                }
            });
            fetchNewsArticles("");

            $('#searchButton').click(function () {
                fetchNewsArticles($('#searchInput').val());
            })

            function fetchNewsArticles(search) {
                $(".news-list").html("");
                $.ajax({
                    url: "https://localhost:7255/api/News/GetListNews?search=" + search,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result, status, xhr) {
                        var newsList = $(".news-list");
                        var sidebar = $(".news-list-sidebar")
                        result.forEach(function (article) {

                            var articleItem = `
                                                                        <li class="news-item">
                                                                           <a href=\"News/Details/?id=${article.id}">
                                                                                <div class="news-image">
                                                                                    <img src="${article.imgPath}" />
                                                                                </div>
                                                                                <div class="news-content">
                                                                                    <h5 class="news-title">${article.title}</h3>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                    `;
                            newsList.append(articleItem);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching news articles:", error);
                    }
                });
            }

        });
    </script>
}
